.dashboards{
    background-color: red;
}
.wraps{
    background-color: aqua;
    margin-top: 200px;
    margin-left: 300px;
}

.wraps-one{
    background-color: aqua;
    margin-top: 10px;
    margin-left: 260p-px;
}